<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <form method="post" action="/home/addCandidate">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" />
            <br />
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
            <br />
            <input type="email" class="form-control" name="email" placeholder="Email" />
            <br />
            <input type="tel" class="form-control" name="phone" placeholder="Phone" />
            <br />
            <textarea class="form-control" placeholder="Type notes here" rows="10" name="notes"></textarea>
            <br />
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
