<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h3><a href="/home/AddCandidate">Add Candidate</a></h3>
        <h3><a href="/home/viewCandidates?status=pending">View Pending</a></h3>
        <h3><a href="/home/viewCandidates?status=confirmed">View Confirmed</a></h3>
        <h3><a href="/home/viewCandidates?status=declined">View Declined</a></h3>
    </div>
</div>